
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #242424; */
  background-image: linear-gradient(#b9aadb, #19006c);
  font-family: "poppins";
  height: 100vh;
}
